.row
{
  margin-top: 10px;
}

.card
{
  margin-top: 10px;
  margin-left: 20px;
}

.image
{
  height: 50%;
  width: 50%;
  display: flex;
  margin-left: 50px;
}

.card-body
{
  margin-top: 50px;
  margin-left: 0px;
  margin-bottom: 0px;
}
